header.navbar {
    border-top: solid 4px #9615ac !important;
}

button.verde{
    display: inline-block;
    font-size: 1.2rem;
    color: #fff;
    background-color: #FE1168;
    padding: .8rem 1.6rem;
    border-radius: 4px;
    transition: background-color .1s ease;
    box-sizing: border-box;
    border: 0;
    cursor: pointer;
}
button.verde:hover{
    background-color: #FE1168;
}

.home .hero .action-button {
    color: #fff;
    background-color: #FE1168 !important;
    border-color: #FE1168 !important;
}
.home .hero .action-button:hover, .home .hero .action-button:active {
    color: #fff;
    background-color: #dd0a57 !important;
    border-color: #dd0a57 !important;
}

header.hero img{
    height: 7rem;
    margin: 5rem auto;
}

a.sidebar-link.active {
    font-weight: 600;
    color: #FE1168;
    border-left-color: #FE1168;
}

a.sidebar-link:hover {
    color: #FE1168;
}

a, p a code {
    color: #FE1168;
}