button.verde{
    display: inline-block;
    font-size: 1.2rem;
    color: #fff;
    background-color: #FE1168;
    padding: .8rem 1.6rem;
    border-radius: 4px;
    transition: background-color .1s ease;
    box-sizing: border-box;
    border: 0;
    cursor: pointer;
}
button.verde:hover{
    background-color: #FE1168;
}

.action-button {
    color: #fff;
    background-color: #FE1168;
    border-color: #FE1168;
}
.action-button:hover, .action-button:active {
    color: #fff;
    background-color: #dd0a57;
    border-color: #dd0a57;
}

header.hero img{
    height: 7rem;
    margin: 5rem auto;
}